//Couleurs principales
$gris: #F6F6F6;
$gris-foncé : #E3E3E3;
$rouge : #FF6060;

// Taille texte
$Titre_principal: 37px;
$Titre-menu : 28px;
$Entré-plat-menu : 16px;

//Medias
$mediamobile: 768px;
$mediatablette: 1024px;