%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

%column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%column-center-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%column-center-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}