.ProjectDescription {
    @extend %column-center-1;
    width: 80%;
    text-align: center;
    right: 175px;

    h3 {
        color: #014572;
        text-transform: uppercase;
        font-size: 52px;
        text-shadow: 1px 1px 2px #555;
        margin-top: 0.5em;
        margin-bottom: 0;

        @media screen and (max-width: 1024px) {
            margin-top: 0;
        }

    }

    p {
        font-size: 18px;
        text-align: justify;

        @media screen and (max-width: 1024px) {
            font-size: 16px;
            margin-bottom: 0;
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
        }
    }
}